* {
    font-family: arial;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    width: 50%;
    height: 410px;
    margin: auto;
    margin-top: 15%;
    overflow: hidden;

}

body {
    background: url(https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    text-align: right;
    line-height: 60px;
    margin-right: 10em;
}

.title {
    text-align: center;
    color: white;
    font-size: 20px;
}

label {
    display: inline-block;
    font-size: 20px;
    color: white;
}

input {
    width: 270px;
    height: 24px;
    border: 2px solid black;
    border-radius: 5px;
}

button {
    width: 205px;
    height: 40px;
    font-size: 15px;
    margin-right: 7em;
    border: none;
    border-radius: 15px;
    background-color: #560A86;
    color: white;
    margin-bottom: 20px;
}

button:hover {
    cursor: pointer;
}
